body {
    max-width: 40em;
    font-family: sans-serif;
}

.title {
    margin-bottom: 0.5em;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}

h1 {
    border-bottom: 1px solid black;
}

.card {
    margin-bottom: 1em;
}

.card.rtOk h2 {
    color: green;
}
.card.rtHttpError h2 {
    color: orange;
}
.card.rtHttpTeapot h2 {
	color: blue;
}
.card.rtFetchError h2 {
    color: red;
}
.card.rtTimeout h2 {
    color: red;
}
