body {
    font-family: sans-serif;
}

.title {
    margin-bottom: 0.5em;
}

h1, h2 {
    font-weight: normal;
    margin: 0;
}

h1 {
    border-bottom: 1px solid black;
}

.card {
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card.Ok h2 {
    color: green;
}
.card.HttpError h2 {
    color: orange;
}
.card.HttpTeapot h2 {
	color: blue;
}
.card.FetchError h2 {
    color: red;
}
.card.Timeout h2 {
    color: red;
}

img {
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
}